In [7]:
import pandas as pd
import pyodbc
import numpy as np

In [ ]:
#Imprting tables
#----------------

In [9]:
conn = pyodbc.connect('DSN=COLLEGE;Trusted_connection=yes;')

In [102]:
Students=pd.read_sql("SELECT * FROM students",conn)
Classrooms=pd.read_sql("SELECT * FROM Classrooms",conn)
Teachers=pd.read_sql("SELECT * FROM Teachers",conn)
Departments=pd.read_sql("SELECT * FROM Departments",conn)
Courses=pd.read_sql("SELECT * FROM Courses",conn)

In [103]:
Departments.head()

   DepartmentId DepartmentName
0             1        English
1             2        Science
2             3           Arts
3             4          Sport

In [76]:
#a. Number of students by Department
#--------------------------------------------

In [104]:
Class_course=pd.DataFrame(data = Classrooms.merge(Courses, on='CourseId',how='inner'))
Students_Departments = pd.merge(Class_course,Departments,how='inner', left_on='DepartmentID', right_on='DepartmentId')
uniq_table = Students_Departments.groupby('DepartmentName').StudentId.nunique()

In [105]:
uniq_table = uniq_table.reset_index()
uniq_table.columns = ['Department Name','Student Count']
uniq_table

  Department Name  Student Count
0            Arts            137
1         English             84
2         Science            200
3           Sport             81

In [201]:
#b. How many studenst has the English teacher by course and in total?
#--------------------------------------------

In [68]:
class_course=pd.DataFrame(data = Classrooms.merge(Courses, on='CourseId',how='inner'))
en_courses=class_course[class_course.DepartmentID ==1].groupby('CourseName').agg({'StudentId':['count']})
en_total_couses=class_course[class_course.DepartmentID ==1].groupby('DepartmentID').StudentId.nunique()

print (en_courses)
print ("------------------------------")

print ("Total", "                     ",en_total_couses[1] )

                     StudentId
                         count
CourseName
Advanced English            24
English Begginers           32
Proffesional English        38
------------------------------
Total                       84

In [64]:
#c. How many small (<22) and bigger (>=22) Classrooms has the Science Department?
#--------------------------------------------

In [143]:
Sc_courses=pd.DataFrame(data=class_course[class_course.DepartmentID ==2].groupby('CourseName').agg({'StudentId':['count']}))

In [126]:
Sc_courses=pd.DataFrame(data=class_course[class_course.DepartmentID ==2].groupby('CourseName').agg({'StudentId':['count']})<22)

In [149]:
Sc_courses.(['StudentId', 'count'])

SyntaxError: invalid syntax (<ipython-input-149-a6e8a49cc59a>, line 1)

In [142]:
df_res = class_course.groupby(['CourseName']).agg({['count]':'StudentId'}).sort_values(['count'],ascending=False)

SyntaxError: invalid syntax (<ipython-input-142-91f765462c1d>, line 1)

In [ ]:
df_res = df.groupby(['CourseName']).agg({'count':sum}).sort_values(['job','count'],ascending=False)

In [134]:
class_course

,CourseId,StudentId,degree,CourseName,DepartmentID,TeacherId
0,1,202,92.031070,English Begginers,1,15
1,1,12,81.175916,English Begginers,1,15
2,1,232,82.396587,English Begginers,1,15
3,1,123,62.420449,English Begginers,1,15
4,1,274,72.569900,English Begginers,1,15
...,...,...,...,...,...,...
749,31,77,78.480534,Gymnastics,4,23
750,31,108,79.660333,Gymnastics,4,23
751,31,193,80.876061,Gymnastics,4,23
752,31,233,92.495579,Gymnastics,4,23
753,31,16,78.507968,Gymnastics,4,23

In [122]:
class_course.columns

Index(['CourseId', 'StudentId', 'degree', 'CourseName', 'DepartmentID',
       'TeacherId'],
      dtype='object')

In [121]:
Sc_courses.columns

MultiIndex([('StudentId', 'count')],
           )

In [106]:
Big_Class_Count = 0
Small_Class_Count = 0
columnDatavalues = 0

In [ ]:

for (columnName, columnData) in dfClassScience.iteritems():
    #print('Column Contents : ', columnData.values)
    result3 = columnData.values
    break 

for x in result3:
    if x > 22 :
        Big_Class_Count = Big_Class_Count + 1
    else:
        Small_Class_Count = Small_Class_Count + 1

In [101]:
 if Sc_courses['count']>22:
    Sc_courses['PP']=1
#else print ("fff")

KeyError: 'count'

In [82]:
Big=Sc_courses[Sc_courses.count].groupby('CourseName').agg({'StudentId':['count']})

,CourseId,StudentId,degree,CourseName,DepartmentID,TeacherId
0,1,202,92.031070,English Begginers,1,15
1,1,12,81.175916,English Begginers,1,15
2,1,232,82.396587,English Begginers,1,15
3,1,123,62.420449,English Begginers,1,15
4,1,274,72.569900,English Begginers,1,15
...,...,...,...,...,...,...
749,31,77,78.480534,Gymnastics,4,23
750,31,108,79.660333,Gymnastics,4,23
751,31,193,80.876061,Gymnastics,4,23
752,31,233,92.495579,Gymnastics,4,23
753,31,16,78.507968,Gymnastics,4,23

In [84]:
Sc_courses=class_course[class_course.DepartmentID ==2].groupby('CourseName').agg({'StudentId':['count']})

In [100]:
Sc_courses.columns

MultiIndex([('StudentId', 'count')],
           )